# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
# debug binary from vscode
__debug_bin

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binaries
wirelink

packaging/checkinstall/*.deb
# everything in doc-pak/ is copied from elsewhere
packaging/checkinstall/doc-pak/*

coverage.out
coverage.html

version.go
