[Unit]
Description=Wirelink for %I (tied to wg-quick)
After=wg-quick@%i.service
Requires=wg-quick@%i.service

[Service]
Type=simple
ExecStart=/usr/bin/wirelink -iface %I

[Install]
WantedBy=multi-user.target
